
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="container-fluid">
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Minhas Previdências</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1>Meus Planos </h1>
                        </div>
                        <div class="col-3">
                            <span><a class="btn btn-block btn-warning" href="@Url.Action("CarteirasRecomendadas","Previdencia")">Carteiras Recomendadas</a></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <h3>Não há planos.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>